{% extends "home/base.html" %}
{% load static %}

{% block title %}CERSGIS :: About{% endblock %}

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static 'aboutus/assets/css/about-us.css' %}">

{% endblock %}

{% block body %}
    <aside>
        <div class="header">
            <ul class="home-link">
                <li> <a href=homepage.html>HOME</a> </li>
                <li> > </li>
                <li style="color: #999999;">BLOG</li>
            </ul>
            <h3 class="title">BLOG</h3>
        </div>
    </aside>

    <div class="cersgis-border"></div>

    <div class="read-more-button">
        <div class="cersgis-border"></div>
        <h2>We Implement Geospatial Solutions for Sustainable Development</h2><br>
        <p>The Center for Remote Sensing and Geographic Information Services (CERSGIS) was established in 1999
            by the University of Ghana and Environmental Protection Agency of Ghana (EPA). As a self-supporting
            Organization, CERSGIS was mandated to provide GIS and Remote Sensing services using Geospatial
            technologies to provide decision support and planning tools for sustainable social and economic
            development to Government, NGOs, Research Institutions and the Private Sector. The Centre is located
            at the Department of Geography and resource Department, University of Ghana, Legon
        </p>

        <div id="demo" class="collapse">
            In addition, the Centre provides inter alia, services in the development of Spatial Data Infrastructure
            Satellite Image processing, Spatial Database development and Web-based applications for spatial land
            use/land cover mapping and planning, desertification, flood hazard mapping, spatial modeling,
            vulnerability assessment and capacity enhancement programs in Geographic Information System development.<br><br>

            Over the pasdt decade, CERSGIS has expanded its capacity by the succesful execution of Geographic Information
            Systems (GIS) and Remote Sensing related projects for the Ghana Government - Ministries, Departments and Agencies,
            the UN Agencies and Development Partners such as AfDB, European Union (EU), World Bank, GIZ, JICA, DFID and
            the Ghana Armed Forces (GAF), African Union (AU) and the United States Agency for International
            Development (USAID).<br><br>

            CERSGIS is a partner currently involved in the implementation of the sub-regional program, SERVIR
            West Africa, that promotes the use of Remote Sensing technology to help stakeholders and decision makers
            address pertinent issues on agriculture and food insecurity, land cover/land use and ecosystems, weather
            and climate,water resources and
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">
            Read More
        </button>
    </div>

    <article>
        <div class="grid-view">
            <div class="first">
                <div class="content">
                    <span class="bi bi-stack" style="color: #0088CC;"></span>
                    <h3>Our Mission</h3>
                    <p>Our mission is to support development planning with geo-information technologies,
                        generate geo-information products for decision making, build capacity,
                        and making spatial data widely available.
                    </p>
                </div>
            </div>

            <div class="first">
                <div class="content">
                    <span class="bi bi-stack" style="color: #0088CC;"></span>
                    <h3>Our Vision</h3>
                    <p>Our vision is to provide geospatial solutions for sustainable development</p>
                </div>
            </div>

            <div class="first">
                <div class="content">
                    <span class="bi bi-stack" style="color: #0088CC;"></span>
                    <h3>Why Us</h3>
                    <p>We are here to offer GIS and Remote Sensing services to provide decision support
                        and planning tools for sustainable social and economic development to Governments,
                        NGOs, Research Institutions and the Private sectors
                    </p>
                </div>
            </div>
        </div>
    </article>

    <div class="our-team">
        <div class="our-style">Meet <b>Our Team</b></div>
        <p>Surf through the collective CERSGIS team and the various assigned portfolios.</p>
    </div>
    {% endblock %}

    